.page-footer {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;

    padding-bottom: 38px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;

    margin-top: 36px;

    width: 147px;
    height: 40px;

    &[href]:hover path {
      fill: #d22856;
    }

    &[href]:active {
      opacity: 0.1;
    }
  }

  .page-footer__logo-img {
    width: 147px;
    height: 40px;

    &--desktop {
      display: none;
    }
  }

  .page-footer__social {
    margin-top: 39px;
    margin-left: -17px;
  }

  .page-footer__copyright {
    margin-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin-top: 69px;
  }

  .page-footer__logo-img {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .page-footer__social {
    margin-top: 73px;
    margin-left: 5px;
  }

  .page-footer__copyright {
    margin-top: 84px;
  }
}

