.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    position: relative;
    display: block;

    padding-top: 96px;

    min-height: 335px;

    &::before {
      content: "24";

      position: absolute;
      top: 59px;
      left: calc(50% - 309px);

      padding-top: 76px;

      width: 238px;
      height: 276px;

      font-size: 96px;
      line-height: 149.47px;
      font-weight: 700;
      text-align: center;
      color: #d22856;

      background-image:
        url("../../img/icon-editor-diagram-fill.svg"),
        url("../../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-size: 202px 202px, 238px 276px;
      background-position: 18px 55px, 0 0;
    }
  }

  .effect__wrapper {
    padding-left: 50%;
  }

  .effect__title {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .effect__text {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .effect__text br {
    display: none;
  }

  .effect__link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;

    &:hover {
      color: #283645;
    }

    &:active {
      color: #283645;

      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .effect {
    padding-top: 153px;

    min-height: 318px;

    background-color: $bg-gray;

    &::before {
      left: calc(50% - 469px);

      padding-top: 96px;

      width: 298px;
      height: 345px;

      font-size: 120px;
      line-height: 186.84px;

      background-size: 253px 253px, 298px 345px;
      background-position: 22px 69px, 0 0;
    }
  }

  .effect__wrapper {
    padding-left: 366px;
  }

  .effect__title {
    line-height: 30px;
  }

  .effect__title br {
    display: none;
  }

  .effect__text {
    padding-top: 24px;
    padding-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__text br {
    display: block;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
