.page-header {
  background-color: $dark-blue;
}

.page-header__logo-wrapper {
  position: relative;

  box-sizing: border-box;
  min-height: 70px;

  border-bottom: 1px solid #000000;

  &--closed {
    min-height: 66px;

    background-color: rgba(0, 0, 0, 0.3);

    border-bottom: none;
  }
}

.page-header__logo  {
  display: inline-block;
  margin-top: 22px;
  margin-left: 20px;
  fill: rgba(210, 40, 86, 1);

  &[href]:hover path {
    fill: rgba(210, 40, 86, 1);
  }

  &[href]:active path {
    fill: rgba(210, 40, 86, 0.3);
  }
}

.page-header__logo-image {
  &--mobile {
    width: 74px;
    height: 22px;
  }

  &--tablet {
    display: none;

    width: 147px;
    height: 40px;
  }

  &--desktop {
    display: none;

    width: 147px;
    height: 40px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrapper {
    min-height: 110px;
  }

  .page-header__logo {
    margin-top: 27px;
  }

  .page-header__logo-image {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);

  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;

    width: $desktop-width;


  }

  .page-header__logo-wrapper {
    background-color: transparent;

    border: none;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__logo-image {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

